<br>
<div class="container">

    <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-12 centralizar topo">
            <div class="card">
                <div class="card-body">
                    <h3>Cadastrar Editoras</h3>
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="nome" class="form-control" [(ngModel)]="editora.nome"/>
                        <label class="form-label" for="form12">Nome</label>
                    </div>
                    
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init (click)="salvar()">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>